/*--------------TABLET----------------------------*/
@media screen and (max-width:800px){
    .card__img{
        padding: 2.2rem 15rem;
    }
}

/*--------------MOVIL----------------------------*/

@media screen and (max-width:666px){
    .card-container{
        display: block;
        flex-wrap: nowrap;
        width: 100%;
    }
    .card__img{
        width: 100%;
        padding: 0.5rem 0;
    }
    .cisco__logo{
        width: 90%;
        padding-bottom: 1rem;
    }
}